/.idea
/.vscode
/.DS_Store
/project/project/target/
/project/target
/target
*~
/src/test/isabelle/Scratch.thy
/src/test/isabelle/#Scratch.thy#
/src/test/isabelle/.*.marks
/scala-isa-project/target
/scala-isa-project/project/target
/scala-isa-project/project/project/target
/scala-isa-project/.idea
/scala-isa-project/isabelle-example-component.jar
/scala-isa-project/.bsp/sbt.json
/.bsp
/tmp
scala-isa-project/project/target/*
scala-isa-project/target/streams/*
**/__pycache__/
*.pyc
*.log
*.thy
scala-isa-project/target/streams/*
/.vscode